.container{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

input {
    width: 25vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 2%; 
}

.submit {
    border-radius: 50%;
    color: white;
    background-color: #800000;
    font-size: 20px;
}

.submit:hover{
    background-color: #b30000;
}