.headerFont{
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 15px #eee;
}