@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root{
  --button: 40px;
  --button-hover: 45px;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

@keyframes gettingBigger{
  0%{
      width: var(--button);
      height: var(--button);
  }

  100%{
      width: var(--button-hover);
      height: var(--button-hover);
  }
}

button{
  width: var(--button);
  height: var(--button);
}

button:hover{
  animation: gettingBigger .3s;
  width: var(--button-hover);
  height: var(--button-hover);
}

@media screen and (max-width: 900px){
  :root{
    --button: 30px;
    --button-hover: 35px;
  }
}
